In [1]:
#Extract the words miss from s
s= "Mississippi"
print(s[0:4])

Miss

In [2]:
#Extract the word sip from s
s= "Mississippi"
print(s[6:9])

sip

In [4]:
#Print the length of s
len(s)

11

In [13]:
#Extract  and repeat the  word ‘sis’ 3 times 
sis=(s[3:6])*3
print(sis)

sississis

In [19]:
#Create a string ‘Kenya ‘ and use ‘Miss’ extracted in i) to create a new string , ‘Miss Kenya’
K="Kenya"
MK=(s[0:4])+(" ")+K
print(MK)

Miss Kenya

In [55]:
#indexing
print(s[0:7])

Mississ

In [54]:
#reversing
s2=len(s) # calculate length of the list
s3=s[s2::-1] # slicing 
print (s3) # print the reversed string

ippississiM

In [56]:
#slicing
print(s[5:])

ssippi

In [68]:
#appending
MK1=["Miss","Kenya"]
MK1.append(2022)
print(MK1)

['Miss', 'Kenya', 2022]

In [69]:
#removing
MK1.remove('Kenya')
print(MK1)

['Miss', 2022]

In [72]:
#sorting
books = ['The War of Art', '5am Club', 'Big Magic']
books.sort()
print(books)

['5am Club', 'Big Magic', 'The War of Art']

In [74]:
#Write and test a function , by_three ,  to print the numbers divisible by 3 between 1 and a number n
def result(by_three):
     
    # iterate from 0 to N
    for num in range(by_three):
    
            if num % 3 == 0:
                print(str(num) + " ", end = "")
                 
            else:
                pass

In [76]:
#test
by_three=100
result(by_three)

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
#Rewrite a lambda version of the function by_three

In [79]:
#Write and test a  function to reverse the contents of a list

lst = [10, 11, 12, 13, 14, 15]

def Reverse(lst):
    return [ele for ele in reversed(lst)]
     
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]